@import '../abstract';

.complain-button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2rem;
	width: 90vw;
	height: 48px;
	min-width: 220px;
	max-width: 360px;
	color: var(--color-background);
	font-family: 'Spartan', 'sans-serif';
	font-weight: bold;
	font-size: 18px;
	transition: all 0.2s ease;
	border-width: 0px;
	&__primary {
		background-color: var(--color-primary);
		&__border {
			color: var(--color-primary);
			border: var(--color-primary) 3px solid;
			background-color: transparent;
			.icon {
				&__next {
					stroke: var(--color-primary);
				}
				&__megaphone {
					fill: var(--color-primary);
				}
				&__echo {
					stroke: var(--color-primary);
					#circle {
						fill: var(--color-primary);
					}
				}
			}
		}
	}
	&__secondary {
		background-color: var(--color-secondary--blue);
		&__border {
			color: var(--color-secondary--blue);
			border: var(--color-secondary--blue) 3px solid;
			background-color: transparent;
			.icon {
				&__next {
					stroke: var(--color-secondary--blue);
				}
				&__megaphone {
					fill: var(--color-secondary--blue);
				}
				&__echo {
					stroke: var(--color-secondary--blue);
					#circle {
						fill: var(--color-secondary--blue);
					}
				}
			}
		}
	}
	&:active {
		opacity: 0.7;
	}
}

.icon {
	width: 1.4rem;
	padding-left: 0.5rem;
	&__next {
		stroke: var(--color-background);
	}
	&__megaphone {
		fill: var(--color-background);
	}
	&__echo {
		stroke: var(--color-background);
		#circle {
			fill: var(--color-background);
		}
	}
}
