@import '../abstract';

.input-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	.input-label {
		font-size: 18px;
		font-family: 'Spartan', 'sans-serif';
		color: var(--color-primary);
		font-weight: bold;
	}
	.input-camp {
		background-color: transparent;
		border: var(--color-primary) 3px solid;
		border-radius: 6px;
		width: 90vw;
		height: 48px;
		min-width: 220px;
		max-width: 360px;
		color: var(--color-primary);
		font-size: 20px;
		padding-left: 1rem;
		&__textarea {
			height: 107px;
			max-height: 107px;
			display: flex;
			text-align: start;
			padding: 1rem;
		}
		&__select {
			option {
				background-color: var(--color-background);
			}
		}
	}
}
