@import '../abstract';

.input-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-width: 220px;
	max-width: 360px;
	&__label {
		font-size: 18px;
		font-family: $font-default;
		color: var(--color-primary);
		font-weight: bold;
	}
	&__input {
		@include font-style('default');
		box-sizing: border-box;
		background-color: transparent;
		border: var(--color-primary) 3px solid;
		border-radius: 6px;
		width: 100%;
		height: 48px;
		color: var(--color-primary);
		padding-left: 1rem;
		&--textarea {
			height: 106px;
			display: flex;
			text-align: start;
			padding: 1rem;
			resize: none;
		}
		&--select {
			option {
				background-color: var(--color-background);
			}
		}
	}
}
