$primary: #f87171;
$primary--dark: #f55050;
$primary--light: #ffaaaa;

$secondary-blue: #95f0e0;
$secondary-blue--dark: #9dded3;
$secondary-yellow: #fff967;
$secondary-yellow--dark: #fff27b;

$aux--light: #f8f8f8;
$aux--dark: #484848;
