@import 'main.scss';

* {
    margin: 0;
    padding: 0;
}

.complain-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    width: 90vw;
    height: 48px;
    min-width: 220px;
    max-width: 360px;
    color: $preto;
    font-family: 'Spartan', 'sans-serif';
    font-weight: bold;
    font-size: 18px;
    transition: all 0.2s ease;
    border-width: 0px;
    &__primary{
        background-color: $verde-secundario;
        color: $preto;
        &:active{
            background-color: rgba($verde-secundario, 0.7);
        }
        &__border{
            color: $verde-secundario;
            border-width: 0.35rem;
            border-color: $verde-secundario;
            background-color: $transparente;
            .icon{
                &__arrow{
                    stroke: $verde-secundario;
                }
                &__megaphone{
                    fill: $verde-secundario;        
                }
                &__echo{
                    stroke: $verde-secundario;
                    #circle{
                        fill: $verde-secundario;
                    }
                }
            }  
        }
    }
    &__secondary{
        background-color: $vermelho-medio-primario;
        &:active{
            background-color: rgba($vermelho-medio-primario, 0.7);
        }
        &__border{
            color: $vermelho-medio-primario;
            border-width: 0.35rem;
            border-color: $vermelho-medio-primario;
            background-color: $transparente;
            .icon{
                &__arrow{
                    stroke: $vermelho-medio-primario;
                }
                &__megaphone{
                    fill: $vermelho-medio-primario;        
                }
                &__echo{
                    stroke: $vermelho-medio-primario;
                    #circle{
                        fill: $vermelho-medio-primario;
                    }
                }
            }
        }
    }
}

.icon{
    width: 1.4rem;
    padding-left: 0.5rem;
    &__arrow{
        stroke: $preto;
    }
    &__megaphone{
        fill: $preto;        
    }
    &__echo{
        stroke: $preto;
        #circle{
            fill: $preto;
        }
    }
}
