@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

* {
    margin: 0;
    padding: 0;
}

.complain-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    border: 0;
    width: 90vw;
    height: 6.2vh;
    min-width: 220px;
    max-width: 360px;
    min-height: 40px;
    max-height: 65px;
    background-color: #95F0E0;
    color: #484848;
    font-family: 'Spartan', 'sans-serif';
    font-weight: bold;
    font-size: 18px;
    &__svg{
        width: 1.5rem;
        padding-left: 0.8rem;
    }
    &__red{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
        border: 0;
        width: 90vw;
        height: 6.2vh;
        min-width: 220px;
        max-width: 360px;
        min-height: 40px;
        max-height: 65px;
        background-color: #f87171;
        color: #484848;
        font-family: 'Spartan', 'sans-serif';
        font-weight: bold;
        font-size: large;
        &__svg{
            width: 1.5rem;
            padding-left: 0.8rem;
        }
    }
}