@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

* {
    margin: 0;
    padding: 0;
}

.complain-button {   
    border-radius: 2rem;
    border: 0;
    width: 90vw;
    height: 6vh;
    max-width: 360px;
    max-height: 200px;
    background-color: #95F0E0;
    color: #484848;
    font-family: 'Spartan', 'sans-serif';
    font-weight: bold;
    font-size: large;
    &__red{
        border-radius: 2rem;
        border: 0;
        width: 90vw;
        height: 6vh;
        max-width: 360px;
        max-height: 200px;
        background-color: #f87171;
        color: #484848;
        font-family: 'Spartan', 'sans-serif';
        font-weight: bold;
        font-size: large;
    }
    &__light{
        border-radius: 2rem;
        border: 0;
        width: 90vw;
        height: 6vh;
        max-width: 360px;
        max-height: 200px;
        background-color: #95F0E0;
        color: #f8f8f8;
        font-family: 'Spartan', 'sans-serif';
        font-weight: bold;
        font-size: large;
        &__red{
            border-radius: 2rem;
            border: 0;
            width: 90vw;
            height: 6vh;
            max-width: 360px;
            max-height: 200px;
            background-color: #f87171;
            color: #f8f8f8;
            font-family: 'Spartan', 'sans-serif';
            font-weight: bold;
            font-size: large;
        }
    }
}