@import 'main';

.takeLocation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem 0rem;
    justify-content: space-between;
    height: calc(100vh - 7.25rem);

    color: $branco;

    a {
        text-decoration: none;
    }
}