@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap');

// Variables
$verde-secundario: #95F0E0;
$vermelho-forte-primario: #F55050;
$vermelho-medio-primario: #F87171;
$vermelho-claro-primario: #FFAAAA;
$amarelo-secundario: #E7D42B;
$preto: #484848;
$verde-secundario2: #8ACCC1;
$amarelo-secundario2: #FFF27B;
$branco: #F8F8F8;
$transparente: rgba(255,255,255,0);