.navbar {
    max-width: 100%;
    max-height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;

    &__isotipo {
        margin-left: 1rem;
        width: 4rem;
        height: 4rem;
    }

    &__hamburguer {
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: space-around;
        flex-flow: column nowrap;

        div {
            width: 2rem;
            height: .25rem;
            background-color: #F87171;
            border-radius: 10px;
            transform-origin: 1px;
            transition: all 0.25s ease;
        }
    }
}