.containerDetails{
    padding: 1rem;
	margin: auto;
	max-width: 420px;
}

.containerTitle{
    margin-bottom: 0.5rem;
}

.containerImage{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    width: 95%;
    height: auto;
}

.containerDescription{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}