@import '../abstract/_colors.scss';

.containerDetails{
    padding: 1rem;
	margin: auto;
	max-width: 420px;
}

.containerTitle{
    margin-bottom: 1rem;
    font-size: 2.3rem;
    max-width: 150px;
    font-weight: bold;
    white-space: nowrap;
    text-align: start;
    font-family: 'Spartan', sans-serif;
    color:$secondary-blue; //por a variável de cor depois
}

.containerImage{
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    width: 95%;
    height: auto;
    border-radius: 6px;
}

.containerDescription{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-family: 'Spartan', sans-serif;
    color: var(--text-color);
}