.historic {
	padding: 1rem;
	margin: auto;
	max-width: 420px;

	&__title {
		display: flex;
		justify-content: center;
		align-items: center;
		color: #9dded3;
	}

	&__name {
		display: flex;
		justify-content: center;
		align-items: center;
		color: #F87171;
	}
}
