.home {
	width: 100vw;
	height: 100vh;
  padding-top: 1rem;

  a {
    text-decoration: none;
  }

  &__create {
    display: flex;
    justify-content: center;
  }

	&__scrollHome {
    max-width: 420px;
    display: flex;
		align-items: center;
    flex-direction: column;
		height: 100vh;
    overflow: scroll;
	}
}
