.takePhoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 1rem;
    justify-content: space-between;
    height: calc(100vh - 7.25rem);

    svg {
        transform: scale(9);
        stroke: var(--color-primary);
    }
    a {
        text-decoration: none;
    }
}