.shouldTakeAPicture {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem 0rem;
    justify-content: space-between;
    height: calc(100vh - 7.25rem);

    color: var(--text-color);
    @include font-style($style-name: 'default');
    
    a {
        text-decoration: none;
    }

    &__buttonArea {
        height: 110px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}