@import '../abstract';

.submitComplaint {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 1rem;
    justify-content: space-around;
    height: calc(100vh - 7.25rem);

    color: var(--text-color);
    @include font-style($style-name: 'default');

    svg {
        transform: scale(9);
        stroke: var(--color-primary);
    }

    a {
        text-decoration: none;
    }
}